{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 mt-3">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <h4 class="card-title">Ateefa</h4>
                    <div class="card-text">
                        store room ki
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}