<html>

<body>
    <form action='register' method='post'>
        {% csrf_token %}

        <input type="text" name="user_name" placeholder="User name"></br>
        <input type="text" name="first_name" placeholder="first name"></br>
        <input type="text" name="last_name" placeholder="last name"></br>
        <input type="email" name="email" placeholder="email"></br>
        <input type="password" name="password1" placeholder="password"></br>
        <input type="password" name="password2" placeholder="reconfirm password"></br>
        <input type="Submit" name="submit"></br>

    </form>

</body>

</html>